@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

header
{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 68px;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: auto;
    overflow: hidden;
    width: 100%;
}

body
{
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.btn-primary 
{
    align-items: right;
    background-color: #0067ac;
    border-color: #013880;
    color: #fff;
}

